<div style="background-color: #6900ff1a;" class="row">
  <div class="col-sm-6">
		<div  class="col-sm-12">
				{{'HEADER.TITLE' | translate}}
		</div>
	</div>
  <div class="col-sm-6">
    <label for="" class="float-right">{{'APP.SELECT_LANG' | translate}}
      <select #langselect (change)="translate.use(langselect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
      </select>
    </label>
  </div>
</div>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer ></app-footer>
     